
.banner {
    background-image: url(../images/02-hero-bg.jpg);
}

#who {
    text-align: center;
}

p {
    text-align: center;
}

#me {
    width: 20%;
    margin-left: 40%;
}

h2 {
    background-color: lightskyblue;
    margin-top: 30px;
}

#example {
    height: 150px;
}

#samples {
    margin-top: 10px;
}

.skills {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#footer {
    text-align: center;
    margin-bottom: 10px;
}