
/* STYLING FOR IMAGES AND TEXT IN THE HERO SECTION*/
.banner {
    background-image: url(../images/02-hero-bg.jpg);
}

#navbar-who {
    text-align: center;
}

.intro {
    margin-left: 15%;
}

#selfie {
    width: 20%;
    margin-left: 40%;
    border: lightpink solid 5px;
}

/* STYLING FOR ALL PARAGRAPHS*/
p {
    text-align: center;
}

/* STYLING FOR ALL HEADINGS IN THE MAIN SECTION*/
h2 {
    background-color: lightpink;
    margin-top: 30px;
}

/* BORDER COLOR FOR ALL CARDS AND LISTS IN THE MAIN SECTION*/
.outline {
    border-color: lightpink;
}

/* STYLING FOR THE WORK SECTION*/
#study-guide {
    margin-top: 10px;
}

/* SIZING FOR PLACEHOLDER IMAGE IN THE WORK SECTION*/
#color-matches {
    height: 150px;
}

/* STYLING FOR THE SKILLS SECTION*/
.skills {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

/* STYLING FOR THE FOOTER SECTION*/
footer {
    text-align: center;
    margin-bottom: 10px;
}

/* STYLING FOR THE BUTTONS*/
a:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

/* MEDIA QUERIES FOR MOBILE*/
@media only screen and (max-width: 600px) {

#about-me {
    display: block;
}

.work {
    flex: none;
    padding: 10px;
}
}

/* MEDIA QUERIES FOR IPAD*/
@media only screen and (min-width: 700px) and (max-width: 1000px) {
#color-matches {
    height: 95px;
    }
}